.how-to-play{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    font-family: ""Palatino Linotype", "Book Antiqua", Palatino, serif";
    font-size: 2.5rem;
}

.titles{
    font-family: "Abhaya Libre";
    font-size: 7rem;
}

.tips{
    font-family: "Abhaya Libre";
    border-radius: 2rem;
    border:2px solid rgb(32, 32, 32);
    margin: 1rem;
    padding: 0.5rem 2rem;
}

.text-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(12, 12, 12);
    width: 70%;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem 0rem;
}

.text-image p{
    padding: 0 2rem;
    text-align: center;
    margin: auto 0;
}

.text-image img{
    border-radius: 2rem;
    height: 30rem;
    border: 2px solid rgb(138, 78, 0);
}

.actions{
    font-family: "Abhaya Libre";
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 2rem;
    border:2px solid rgb(32, 32, 32);
    margin: 1rem;
    padding: 0.5rem 2rem;
}
.actions p{
    margin-right: 3rem;
}
.actions img{
    margin: 1rem 2rem;
}
