<fieldset class="new-user">
    <legend>Register</legend>
    <form action="" class="registro" (ngSubmit)="registraUsuario()" [formGroup]="newUser">
        <div class="campo">
            <label for="usuario">Username:</label>
            <input type="text" formControlName="username">
        </div>
        <div class="error"
            *ngIf="validar('username', 'required')">
            <span>Field is required</span>
          </div>
          <div class="error"
            *ngIf="validar('username', 'minlength')">
            <span>Minimun 3 characters</span>
          </div>
        <div class="campo">
            <label for="">Password:</label>
            <input type="password" formControlName="password">
        </div>
        <div class="error"
            *ngIf="validar('password', 'required')">
            <span>Field is required</span>
          </div>
          <div class="error"
            *ngIf="validar('password', 'minlength')">
            <span>Minimun 3 characters</span>
          </div>
        <div class="campo">
            <label for="">Verify Password:</label>
            <input type="password" formControlName="confirmPassword">
        </div>
        <div class="error"
            *ngIf="validar('confirmPassword', 'required')">
            <span>Field is required</span>
          </div>
          <div class="error"
            *ngIf="newUser.hasError('notSame') && newUser.controls['confirmPassword'].touched">
            <span>Passwords don't match</span>
          </div>
        <input type="submit" id="submit" value="Crear Cuenta">
    </form>
</fieldset>