<header class="cabecera" [ngClass]="{'scrolled':scrolled}">
    <nav class="navbar" >
       
        <div class="nav-boton">
            <a class="enlace" [routerLink]="['/home']">Home</a>
        </div>
        <div class="nav-boton"> 
            <a class="enlace" [routerLink]="['/how-to-play']">How To Play</a>
        </div>  
        <div class="nav-boton">
            <a class="enlace" [routerLink]="['/play']">Play</a>
        </div>
        <div class="nav-boton">
            <a class="enlace" [routerLink]="['/login']">Sign in</a>
        </div>
        <div class="nav-boton"> 
            <a class="enlace" [routerLink]="['/contact-us']">Contact Us</a>
        </div>
        <div class="nav-boton">
            <a class="enlace" [routerLink]="['/register']">Sign up</a>
        </div>
        <div class="background-img-navbar"><img src="../../../../assets/navbarshadow.png" alt=""></div>
    </nav>
</header>