.enlace{   
    color: rgba(255, 255, 255, 0.596);
    display: inline-flex;
    margin: 0.6rem 0rem 0rem 0rem;
    width: 100%;
    height: 80%;
    justify-content: center;
    font-family: 'Abhaya Libre';
    letter-spacing: 0;
    transition: all 0.5s;
}
.enlace:hover{
    letter-spacing: 0.1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.596);
}


.nav-boton{
    display: flex;
    justify-content: center;
    width:12%;
    height: 80%;
    margin-right: 2rem;
    margin-top: .3rem;
    border-radius: 0.5rem;
}
.cabecera{
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    transition: all 4s ease-out;
}
.navbar{
    display: flex;
    justify-content: space-around;
    height: 3rem;
    width: 70%;
    margin-top: 2rem;
    
}
.background-img-navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    opacity: 0;
    transition: opacity 0.3s; /* Add a transition for opacity */
    z-index: -1;
  }
  .background-img-navbar img{
    width: 100%;
    height: 100%;
    z-index: -1;
  }
.cabecera.scrolled .background-img-navbar{
   opacity:0.7;
}