.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin:  8rem auto 12rem auto;
    background-image: url('src/assets/characterSec.png');
    background-size: cover;
}

#window{
    margin: 0 auto;
    width: 1065px;
    height: 1049px;
    padding-top: 230px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/assets/game-assets/game-frame.png');
    background-size: 1045px 1020px;
    background-repeat: no-repeat;
}